* {
  background-color: rgb(208, 240, 240);
  color: rgba(88, 20, 20, 0.874);
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: rgb(28, 3, 193);
  text-align: center;
  text-decoration: underline;
}

hr {
  height: 20px;
  width: 100%;
  background-color: rgb(134, 176, 243);
}

h2 {
  color: rgb(85, 61, 241);
  text-align: start;
}

main {
  max-height: 1000px;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  position: relative;

}

.search-form {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.main-form {
  position: absolute;
  grid-column: 1 / span 2 ;
  grid-row: 2 / span 6;
}

aside {
  position: absolute;
  grid-column: 3/ span 6;
  grid-row: 3/ span 6;
}

input {
  width: 160px;
  height: 20px;
  padding: 7px;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  display: inline;
}

label {
  padding: 12px 12px 12px 0;

}

table th, td {
  background-color: lightcoral;
  color: white;
  height: 20px;
  padding: 10px;

}


a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: rgb(182, 108, 243);
  border: none;
  width: 100px;
  height: 30px;
  font: bold;
  color: white;
  border-radius: 6%;
  margin: 5px;
}

.showData {
  position: absolute;
  grid-row: 1 / span 3;
  grid-column: 4/ span 5;
  font-size: 18px;
  color: red;
  box-sizing: border-box;
  
}


.showData p {
  color: green;
}